@inherits LayoutComponentBase

<PageTitle>WebServer</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <p>当前正在控制[@Data.MainData.SelectDevice.City]的[@Data.MainData.SelectDevice.DeviceName]</p>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
